<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo list</title>
</head>
<body>
    <h1><%= kindofDay %></h1>
    <ul>
        <% for(var i = 0; i < newListItems.length; i++){ %>
        <li><%= newListItems[i] %></li>
        <% } %>
        <form action="/" method="post">
        <input type="text" name="newItem" id="" autofocus>
        <button type="submit">Add</button>
        </form>
    </ul>
</body>
</html>